*{
	margin: 0 0;
	padding: 0 0;
}
.header{
	width: 100%;
	height: 80px;
	position: fixed;
	top: 0 ;
	background-color: #404040;
	min-width: 1000px;
	z-index: 9999;
}
.header_a{
	width: 70%;
	height: 80px;
	margin: 0 auto;
	
}
.log{
	width: 25%;
	height: 50px;
	float: left;
}
.log img{
/*	width: 50%;
	height: 48px;
	margin-top: 15px;*/
	padding: 5px 0;
}
.nav{
	width: 65%;
	height: 80px;
	float: right;
}
.nav a{
	color: #FFFFFF;
	text-decoration:none;
	
}	
.nav a:hover{
	color: red;
}
.nav_a{
	width: 20%;
	height: 30px;
}
/*.nav_b{
	width: 65%;
	height: 30px;
	float: right;
}*/
/*.nav_b ul li{
	float: left;
	list-style-type:none;
	padding: 10px 20px;

}*/
.swiper{
	width: 100%;
	height: 500px;
/*	border: 1px  solid #6495ED;*/
	margin-top: 80px;
	min-width: 1000px;
}
html, body {
      position: relative;
      height: 100%;
    }
    body {
      /*background: #eee;*/
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color:#000;
      margin: 0;
      padding: 0;
    }
    .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
.swiper-slide img{
	width: 100%;
	height: 100%;
}
.conent{
	width: 65%;
	height: 980px;
	margin: 0 auto;
	min-width: 1000px;
}
.con_tot{
	text-align:center;
	margin:30px 0;
	color:#717171;
	font-size:30px;
}
.con_tul{
	width: 48%;
	height: 320px;
	float: left;
}
.con_tul img{
	height: 100%;
	width: 100%;
}
.con_tur{
	width: 48%;
	height: 320px;
	float: right;
}
.con_tur img{
	height: 100%;
	width: 100%;
}
.con_tot1{
	width: 48%;
	height: 48px;
	float: left;
	border-bottom: 1px solid #727272;
	margin: 30px 0;
}
.con_tot2{
	width: 48%;
	height: 48px;
	float:right;
	border-bottom: 1px solid #727272;
	margin: 30px 0;
}
#wd{
	color:#000;
	font-size:26px;
	padding: 0 15px;
}
#wx{
	font-size:16px;
	color:#727272;
	padding: 0 10px;
	margin: 10px 0;
}
.con_c{
	text-align:center;
	margin:30px 0;
	color:#717171;
	font-size:30px;
	margin-top: 13px;
}
.con_toz{
	height: 330px;
	width: 47%;
	float: left;
}
.con_toz img{
	width: 100%;
	height: 100%;
}
.con_tozz{
	height: 300px;
	width: 47%;
	float: right;
	padding-left: 20px;
}
.con_tozz img{
	width: 100%;
	height:48% ;
}
.footer{
	width: 100%;
	height: 300px;
	background-color: #404040;
	margin-top: 5px;
	min-width: 1000px;
	/*position: fixed;
	border: 1px solid red;
	z-index: 999999;
	top: 1000px;*/
}

.footer_a{
	width: 65%;
	height: 200px;
	margin: 0 auto;
	padding-top: 10px;
}
.footer_a a{
	color: #FFF;
	text-decoration:none;
	padding-left: 20px;
	
}
.footer_a a:hover{
	color: red;
}
.footer_a p{
	margin-bottom: 10px;
	color:#d7d7d7;
	font-size: 16px;
	margin-top: 20px;
	padding-left: 20px;
}
.footer_a ul li{
	padding: 5px ;
	list-style-type:none;
	margin-bottom: 10px;
	font-size: 12px;	
}
.foo_a{
	width: 15%;
	height: 200px;
	float: left;
}
.foo_e{
	width:15%;
	height: 200px;
	float: right;
	margin-right: 50px;
}
.foo_e img{
	width: 140px;
	height: 140px;
	margin-bottom: 10px;
	margin-top: 20px;
}
.foo_xt{
	width: 65%;
	height: 30px;
	margin: 0 auto;
	margin-top: 30px;
	border-top: 1px solid ghostwhite;
}
.foo_xt a{
	color: #FFF;
	text-decoration:none;
}
.foo_xt ul li{
	padding: 10px 10px;
	list-style-type:none;
	margin-bottom: 10px;
	font-size: 12px;
	float: left;
}
.clear{
	clear:both;
}
.phone{
	position: fixed;
	bottom: 150px;
	right: 100px;
	z-index: 999999999;
}
