<style>
		body{
			margin: 0px;
			padding: 0px;
			
		}
		/*ul li{
			list-style-type: none;
		}*/
		.bodytop{
			
			/*border: 1px solid red;*/
		}
		.top{
			width: 1050px;
			height: 85px;
			/*border:  1px solid #000000;*/
			margin: 0 auto;
		}
		.top1{
			width: 250px;
			height: 85px;
			/*border:  1px solid yellow;*/
			float:left;
			position: relative;
		}
		.top1 img{
			position: absolute;
			bottom: 10px;
		}
		.top2{
			float:right;
			width: 70%;
			height: 85px;
		/*	border:  1px solid yellow;*/
			line-height:85px;
			
			position: relative;
		}
		.top2 ul{
			list-style-type: none;
			
			
		}
		
		.top ul a{
			float: left;
			text-decoration: none;
			width:90px;
	        height:29px;
	        font-size: 14px;
	        color: #000000;
		
		}
		.bodybill{
			height: 420px;
			width: 100%;
			background: url(../images/header40.jpg);
		}
		.bill{
			width: 1050px;
			height: 410px;
			/*border: 1px solid grey;*/
			margin: 0 auto;
		}
		.bill1{
			width: 500px;
			height: 410px;
		/*	border: 1px solid chartreuse;*/
			float: left;
			position: relative;
		}
		.bill1 h1{
			color: white;
		margin-top: 90px;
		}
		.bill1 span{
			color: white;
			font-size: 14px;
			font-weight:  bold;;
		}
		.book {
			height: 65px;
			width: 126px;
			background:rgba(0,0,0,.3);
			position: absolute;
			bottom: 150px;
			right: 30px;
			border-radius: 5px;
		}
		.book input{
			
			height: 50px;
			width: 110px;
			margin: 8px;
			background:#454545;
			color: white;
			border-color: #454545;
			border-radius: 5px;
			
		}
		.book input:hover{
			transition: 1s;
			background:#0061DE;
			border-color: #0061DE;
		}
		.bill2{
			width: 495px;
			height: 410px;
			/*border: 1px solid firebrick;*/
			float: left;
		}
		.bill2 img{
			margin: 30px;
		}
		.bodycentre{
			width: 100%;
			/*border: 1px solid goldenrod;*/
			margin-top: 130px;
			
		}
		.center{
			width: 1050px;
			
			margin: 0 auto;
			/*border: 1px solid #000000;*/
			position: relative;
		}
		.center1 ul {
			margin: 0 auto;
			position: absolute;
			left: 0px;
			
		}
		.center1  li{
			float: left;
			list-style-type: none;
		}
		.center2 img{
			float: left;
		}
		.center2 div{
			float: left;
			padding-left: 20px;
			padding-top: 20px;
		}
		.center2 li{
		    display: inline-block;
	        margin-left: 30px;
	        margin-top: 30px;
	        list-style-type: none;
		}
		.middle{
			
			margin-top: 130px;
		}
		.lower-middle{
			width: 1050px;
			height: 400px;
			/*border: 1px solid #000000;*/
			margin: 0 auto;
		}
		.lower-middle1{
			width: 500px;
			height: 230px;
			/*border: 1px solid #0000FF;*/
			float: left;
			background: url(../images/info_bg1.png) no-repeat;
			margin-left: 45px;
			margin-bottom: 80px;
		}
		.lower-middle2{
			width: 500px;
			height: 230px;
			/*border: 1px solid gold;*/
			float: left;
			background: url(../images/info_bg2.png) no-repeat;
			margin-bottom: 80px;
		}
		.lower-middle1 h4{
			text-indent: 20px;
			color: #178EF4;
			line-height: 40px;
		}
		
		
		.lower-middle1 ul li {
			
			padding: 2px;
		}
		.lower-middle1 ul li a{
			text-decoration: none;
		    color: #000000;
		    font-weight: bold;
		    font-size: 14px;
		}
		#box{
			text-decoration: none;
			padding: 0 20px;
			font-size: 12px;
		    color: #178EF4;
		}
		.lower-middle2 h4{
			text-indent: 20px;
			color: #178EF4;
			line-height: 40px;
		}
		
		
		.lower-middle2 ul li {
			
			padding: 2px;
		}
		.lower-middle2 li a{
			text-decoration: none;
		    color: #000000;
		    font-weight: bold;
		    font-size: 14px;
		}
		
		.bottom{
			width: 100%;
			height: 300px;
			 background-color: #15588c; 
			margin-top: 280px;
		}
		.bottomA{
			width: 1050px;
			margin: 0 auto;
			
		}
		.bottomA ul{
			float: left;
			margin-left: 60px;
		}
		.bottomA ul li{
			list-style-type: none;
			line-height: 30px;
		}
		.bottomA ul li a{
			text-decoration: none;
			color: white;
			font-size: 12px;
		}
		.bottomB{
			color: white;
			font-weight: bold;
		}
		.tell{
			text-indent: 35px;
		}
		.afterbody{
			width: 100%;
			height: 50px;
			/*border:  1px solid red;*/
			background-color: #0d61a1;
		}
		.afterbodyA{
			width: 1050px;
			height: 50px;
			/*border:  1px solid red;*/
			margin: 0 auto;
			
		}
		.afterbodyA span{
			font-size: 10px;
			color: white;
		line-height: 50px;
		}
		.ce{
			position: fixed;
			right: 0px;
			bottom: 80px;
			height: 300px;
			width: 50px;
			
		    z-index: 9999;
		}
	</style>